---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";

const posts = await getCollection("posts");
---

<Layout title="Template - All Posts">
  <main class="flex flex-col gap-20">
    <section>
      <h1 style="color: white" class="text-3xl text-neutral-150">BIENVENIDO AL SEMINARIO</h1>
      <p>
        Bienvenidos a la página web del Seminario de Tecnologías de Información
        2023, creado por los brillantes estudiantes de la Facultad de Ingeniería
        en Sistemas de la Universidad Mariano Gálvez, Centro Universitario de
        Sololá. Aquí encontrarás una ventana a un emocionante evento en el que
        nuestros estudiantes exhiben sus proyectos de desarrollo de software.
        Descubre en detalle cada proyecto, desde su contexto de implementación
        hasta las tecnologías que dieron vida a estas innovadoras soluciones
        tecnológicas. Acompáñanos en este viaje por el ingenio y la creatividad
        de nuestros futuros ingenieros de software. ¡Explora, aprende y
        sorpréndete con lo que nuestros estudiantes tienen para ofrecer!
      </p>
    </section>

    <section>
      <h2 class="text-2xl text-neutral-100">Explicación del seminario</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
        quibusdam facere voluptatibus voluptatum rerum nostrum vero iste unde
        sunt incidunt iure, error accusamus ea numquam et exercitationem
        voluptates laboriosam non.
      </p>
    </section>

    <section>
      <h2 class="text-2xl text-neutral-100">Ciclo de vida del software</h2>
      <br />
      <iframe
        width="100%"
        height="475"
        src="https://www.youtube.com/embed/QSVItm_co4o?si=y-yluDT5F00AYQn6"
        allowfullscreen></iframe>
    </section>

    <!-- <section>
      <h2>Video 2</h2>
      <iframe
        width="100%"
        height="315"
        src="https://www.youtube.com/embed/LhVOF5_d6WY"
        allowfullscreen></iframe>
    </section> -->

    <h1 class="text-2xl text-neutral-100">Proyectos</h1>

    <article class="flex flex-col gap-4">
      {
        posts.map((post) => (
          <a
            class="group flex flex-col gap-2 border-t border-neutral-700 py-4 transition-all hover:text-neutral-100"
            href={`/posts/${post.slug}`}
          >
            <div class="flex w-full items-center justify-between">
              <h2 class="text-lg">{post.data.title}</h2>

              <div class="flex flex-row items-center gap-4">
                <p>{formatDate(post.data.publishedAt)}</p>
                <svg
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  class="transition-all duration-300 group-hover:translate-x-1"
                >
                  <path
                    d="M5.25 12.75L12.75 5.25"
                    stroke="#999999"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M5.25 5.25H12.75V12.75"
                    stroke="#999999"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
            <p>{post.data.description}</p>
          </a>
        ))
      }
    </article>
  </main>
</Layout>
